<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Thorium Model</Name><AddInID>{e6531ca9-6319-415e-850b-15ae3bb5a30e}</AddInID><Description>Thorium Forward Modeling Tool</Description><Version>0.1</Version><Image /><Author>Jay Laura</Author><Company>USGS</Company><Date>05/03/2014</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="gamma_model_addin.py" namespace="gamma_model_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Deposit Layer" category="Thorium Model" class="InputShapefile" id="gamma_model.input_combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="The input polygon shapefile."><Help heading="" /></ComboBox>
        <ComboBox caption="Abundance Field" category="Thorium Model" class="AbundanceField" id="gamma_model.abundance_combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="The shapefile field that contains the abundance value to process."><Help heading="" /></ComboBox>
        <Button caption="Model Once" category="Thorium Model" class="SolveOnce" id="gamma_model.solveonce_button" image="" message="" tip="Compute the forward model"><Help heading="" /></Button>
        <Button caption="Model Iteratively" category="Thorium Model" class="ModelIteratively" id="gamma_model.modeliter_button" image="" message="" tip="Iteratively compute the forward model until stopping conditions are met."><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Thorium Modeler" category="Thorium Model" id="gamma_model.toolbar" showInitially="true"><Items><ComboBox refID="gamma_model.input_combobox" /><ComboBox refID="gamma_model.abundance_combobox" /><Button refID="gamma_model.solveonce_button" /><Button refID="gamma_model.modeliter_button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>