<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Test_Addin</Name><AddInID>{39bfa2c7-c7fe-46e5-b38e-1e8c6177e285}</AddInID><Description>A proof-of-concept Python Addin</Description><Version>0.1</Version><Image>Images\framing_square.png</Image><Author>Jay Laura</Author><Company>USGS</Company><Date>06/11/2013</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="testaddin_addin.py" namespace="testaddin_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Layer: " category="Test_Addin" class="PolyLineLayers" id="testaddin_addin.select_layer" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Select a Layer to Edit"><Help heading="" /></ComboBox>
        <ComboBox caption="Field: " category="Test_Addin" class="PolylineFieldEditor" id="testaddin_addin.select_field" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Select a Field to Edit"><Help heading="" /></ComboBox>
        <Tool caption="Draw PolyLine" category="Test_Addin" class="DrawLine" id="testaddin_addin.drawline" image="Images\framing_square.png" message="" tip="Click to draw a polyline"><Help heading="" /></Tool>
        <ComboBox caption="Start Elev. " category="Test_Addin" class="ContourStart" id="testaddin_addin.contour_start" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Enter an integer contour start"><Help heading="" /></ComboBox>
        <ComboBox caption="Contour Interval " category="Test_Addin" class="ContourInterval" id="testaddin_addin.contour_interval" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Enter an integer contour start"><Help heading="" /></ComboBox>
        <Button caption="Write Edits" category="Test_Addin" class="WriteEdits" id="testaddin_addin.write_edits" image="Images\edit.png" tip="Click to Write Edits"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Test" category="Test_Addin" id="testaddin_addin.toolbar" showInitially="true">
            <Items>
                <ComboBox refID="testaddin_addin.select_layer" />
                <ComboBox refID="testaddin_addin.select_field" />
                <ComboBox refID="testaddin_addin.contour_start" />
                <ComboBox refID="testaddin_addin.contour_interval" />
                <Tool refID="testaddin_addin.drawline" />
                <Button refID="testaddin_addin.write_edits" />
            </Items>
        </Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>