<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<Name>Python Addin</Name>
<AddInID>{7c2ab0fd-86da-422d-b75b-43b3d9a607e2}</AddInID>
<Description>Create an in-memory value by alpha map from overlapping trajectories</Description>
<Version>0.1</Version>
<Image />
<Author>Jay Laura</Author>
<Company>USGS</Company>
<Date>08/13/2013</Date>
<Targets><Target name="Desktop" version="10.1" /></Targets>
<AddIn language="PYTHON" library="valuebyalpha_addin.py" namespace="valuebyalpha"><ArcMap>
    <Commands>
        <ComboBox caption="Layer" category="Python Addin" class="LayerList" id="valuebyalpha.layerlist" itemSizeString="WWWWWWWWWWWWWWWWWW" message="" rows="4" sizeString="WWWWWWWWWWWWWWWWWW" tip="Select the layer to generate a VBA map"><Help heading="" /></ComboBox>
        <Button caption="Generate VBA Map" category="Python Addin" class="VBA" id="valuebyalpha.createvba" image="" message="" tip="Click to create an in_memory value by alpha map."><Help heading="" /></Button>
        <Button caption="Clear In Memory Space" category="Python Addin" class="DelFeature" id="valuebyalpha.clearvba" image="" message="" tip="Click to clear the in-memory space of all temporary VBA layers."><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Value By Alpha" category="Python Addin" id="valuebyalpha.toolbar" showInitially="true">
            <Items>
                <ComboBox refID="valuebyalpha.layerlist" />
                <Button refID="valuebyalpha.createvba" />
                <Button refID="valuebyalpha.clearvba" />
            </Items>
        </Toolbar>
    </Toolbars>
    <Menus>
    </Menus>
    </ArcMap></AddIn></ESRI.Configuration>